# k8s/monitoring/kustomization.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - grafana-certificate.yaml
  - prometheus-certificate.yaml
  - alertmanager-certificate.yaml
# The Helm chart that Kustomize should pull and template
helmCharts:
  - name: kube-prometheus-stack
    repo: https://prometheus-community.github.io/helm-charts
    version: 79.1.1 # Must match your target version
    releaseName: kube-prometheus-stack
    namespace: monitoring # Set the namespace for the deployed resources
    # Specify the local values file to override chart defaults
    valuesFile: prometheus-values.yaml

# The namespace is used for the Helm chart release name
# This should match the destination namespace in argocd/monitoring.yaml
namespace: monitoring