# k8s/monitoring/kustomization.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: monitoring

resources:
  - namespace.yaml
  - grafana-certificate.yaml

# 1. Apply Helm chart
helmCharts:
  - name: kube-prometheus-stack
    repo: https://prometheus-community.github.io/helm-charts
    version: 79.1.1
    releaseName: prometheus
    namespace: monitoring
    valuesFile: values.yaml

# 2. Patch CRDs to remove annotations
patchesStrategicMerge:
  - crds-patch.yaml