# k8s/monitoring/prometheus-values.yaml
installCRDs: true


# Core Prometheus settings
prometheus:
  prometheusSpec:
    serviceMonitorSelectorNilUsesHelmValues: false
    serviceMonitorNamespaceSelector: {}

# Grafana settings
grafana:
  adminPassword: admin123

  # Use ClusterIP (not LoadBalancer) for local dev
  service:
    type: ClusterIP

  # Ingress for HTTPS access
  ingress:
    enabled: true
    ingressClassName: nginx
    hosts:
      - grafana.myapp.localdev.me
    tls:
      - secretName: grafana-tls
        hosts:
          - grafana.myapp.localdev.me

  # Optional: persist dashboards (if you want)
  #persistence:
  #  enabled: false