# k8s/overlays/staging/kustomization.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namePrefix: staging-
namespace: staging
resources:
  - ../../base
  - staging-cert.yaml
patches:
  - path: patch-deployment.yaml
  - path: patch-ingress.yaml
  - path: patch-service-monitor.yaml
    target:
      kind: ServiceMonitor
      name: sample-app
images:
  - name: ghcr.io/swamyvaditya/sample-gitops-repo/sample-app
    newTag: v1.1.41-rc.7
transformers:
  - env-label-transformer.yaml
